<div id="formMain">
	<%= form_for @fact do |f|%>
		<% if @fact.errors.any? %>
		 <div id="error_explanation">
			 <h2>
				 <%= pluralize(@fact.errors.count, "error") %> prohibited
				 this fact from being saved:
			 </h2>
			 <ul>
				 <% @fact.errors.full_messages.each do |msg| %>
					 <li><%= msg %></li>
				 <% end %>
			 </ul>
		 </div>
		<% end %>

		<div class="container"><br/>
				<div class="column-right">
					<%= f.label :category %>:<br/><br/>
					<%= f.label :text %>:<br/><br/>
					<%= f.label :source %>:<br/><br/>
				</div>
				<div class="column-left">
					<%= f.text_field :category %><br/><br/>
					<%= f.text_field :body%><br/><br/>
					<%= f.text_field :source %><br/><br/>
			</div>
		</div>
		<button class="buttonStyle">
			<%= f.submit %>
			<%= link_to 'Back', facts_path, class: 'buttonStyle'%>
		</button>
	<% end %>
</div>
