<br/><br/><center>
<h1 style="background:none; color:#461968"><b>FACTS</b></h1>

<table style="width:80%;">
  <tr style="font-size:48px; color:white; background-color:black;">
    <th style="width:33%;">Category</th>
    <th style="width:33%;">Body</th>
    <th style="width:33%;">Source</th>
  </tr>
<div style="background-color:white;">
  <% @facts.each do |fact| %>
  <tr style="background-color:white;">
    <td style="font-size:40px; padding-left:15px;"><%= fact.category %></td>
    <td style="font-size:40px; padding-left:15px;"><%= fact.body %></td>
    <td style="font-size:22px;">&#160;&#160;
      <%= link_to 'Show', fact_path(fact) %>&#160;&#160;
      <%= link_to 'Edit', edit_fact_path(fact) %>&#160;&#160;
      <%= link_to 'Delete', fact_path(fact), method: :delete, data: { confirm: 'Delete this fact?' } %>
    </td>
  </tr>
  <% end %>
</table></center><br/><br/><br/>

<%= link_to 'New Fact', new_fact_path, :class => 'buttonStyle' %>
