<p>
  <strong>Category:</strong>
  <%= @fact.category %>
</p>
<p>
  <strong>Body:</strong>
  <%= @fact.body %>
</p>
<p>
  <strong>Source:</strong>
  <%= @fact.source %>
</p><br/><br/>
<%= link_to 'Edit', edit_fact_path(@fact),:class => 'buttonStyle'  %>
<%= link_to 'Back', facts_path, :class => 'buttonStyle'  %>
