/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*_____________________________________________________________________*/
 /* BASE STYLES */

html {
    background-image:url(raleigh_5.png) no-repeat center center fixed;
    position:cover;
    display:flex;
    justify-content:space-around;
    vertical-align:center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

body{
  // background-color:white;
  // height:80%;
  // width:80%;
  font-family:monospace;
  font-size:30px;
  /* background-color:white; */
  height:60%;
  width:70%;
}

h1,
h2,
h3,
h4,
h5,
h6{
  background-color:white;
  padding:1%;
  border-radius:15px;
}

p{
  background-color:white;
  padding:3%;
  border-radius:15px;
}

/* CUSTOMIZED CLASSES AND IDS */

.mainFacts{
  background-color:white;
}

.buttonStyle{
  background-color:white;
  padding:10px 18px 10px 18px;
  border-radius:4px;
  font-family:monospace;
  font-size:30px;
  color:#461968;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
  text-decoration:none;
}

.formMain{
  width:70%;
  height:70%;
  background-color:white;
  align-content:center;
}

.defaultForm{
  background-color:white !important;
  min-width:40%;
  min-height:60%;
}

.column-left{
  width:50%;
  float:right;
  height:30%;
  background-color:white;
}

input#fact_body
,input#fact_category
,input#fact_source{
  padding:10px;
  height: 30% !important;
  width: 90% !important;
}

.column-right{
  width:50%;
  text-align-last:right;
  float:left;
  height:30%;
  background-color:white;
}

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
  background-color:white;
  padding:10px 18px 10px 18px;
  border-radius:4px;
  font-family:monospace;
  font-size:30px;
  color:#461968;
  text-decoration:none;
}
